.login {
  width: 100vw;
  height: 100vh;
  background: url("assets/moonlight.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}
.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginLogo {
  font-size: 100px;
  font-weight: 800;
  color: rgba(53, 138, 109, 0.808);
  margin-bottom: 10px;
  text-shadow: 3px 3px 4px white;
  font-family: "Great Vibes", cursive;
}
.moonlight {
  color: rgba(53, 138, 109, 0.808);
  text-shadow: 3px 3px 4px rgb(247, 244, 244);
  font-family: "Great Vibes", cursive;
  font-weight: 600;
}

.loginDesc {
  font-size: 40px;
  font-weight: 500;
  color: wheat;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.loginbox {
  height: 300px;
  padding: 20px;
  /* background-color: white; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 6px 8px 18px 6px rgba(252, 252, 252, 0.3); /* Box shadow */
}

.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
   background-color: transparent;
   color: rgb(163, 114, 65);
  
}

/* .loginInput ::placeholder{
    font-style: italic;
    color: rgb(36, 21, 3);
} */

.loginInput:focus {
  outline: none;
}
.loginButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: rgba(53, 138, 109, 0.808);
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.loginforgot {
  text-align: center;
  color: rgb(92, 92, 176);
}

.loginRegisterButton {
  height: 50px;
  width: 50%;
  align-self: center;
  border-radius: 10px;
  border: none;
  background-color: rgba(169, 45, 59, 0.808);
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
#error{
  color: red;
}