.comment {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #f3f3f3;
  margin: 5px 0;
  border-radius: 8px;
}
.commentInput {
  width: 80%;
  padding: 8px;
  margin: 5px;
  border-radius: 6px;
}
.commentButton {
  padding: 8px 12px;
  background-color: #4267B2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.commentsContainer {
  padding: 5px 15px;
}
