/* Base mobile styles */
@media only screen and (max-width: 768px) {
  .topbarCenter,
  .topbarRight {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .menuToggle {
    display: block;
    cursor: pointer;
    padding: 10px;
  }

  .homeContainer {
    flex-direction: column;
  }

  .profileRightTop,
  .profileRightBottom {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .loginWrapper {
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  .loginLeft {
    align-items: center;
    text-align: center;
  }

  .loginLogo {
    font-size: 50px;
  }

  .loginDesc {
    font-size: 24px;
  }

  .loginBox {
    width: 100%;
  }

  .rightbar,
  .feed {
    width: 100%;
  }
}
